.vscode/
__pycache__
.venv/
.idea/
.pytest_cache
.DS_Store
static/data.csv
static/data.csv
Learning/epkqmdaoelg.angular.zip
Learning/git clone https:::github.com:Azure-Samples:python-
POWCert.PublishSettings
.DS_Store
static/data.csv
photos/
