{% from '_render_errors.html' import render_errors %}
<!DOCTYPE html>
<html lang="=en">

<head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        2019 #PullingOurWeight Campaign Survey
    </title>
    <style>
        .table {
            font-size: 12px;
            width: 10px
        }
h5 {
display:inline;
}




    </style>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
function f1(){
     document.a.background-color = "red";
}    </script>
</head>

<body>
<div class='pl-3 pr-3'>
    <div class="container">
        <br>
        <h3 style='color: #415364'>2019#PullingOurWeight Campaign
            调查问卷 </h3>
        <div class="row">
            <div class="container">
                <div class="col" style="background: #e80033;height: 10px;">
                </div>
            </div>
        </div>
        <h5>
        <br><a href="/" class="badge badge-primary" onclick="f1()">English</a>
<a href="/zh" class="badge badge-secondary">中文</a>
            </h5>Click to change language
    </div>

    <br>
    <form method="post" action="{{url_for('zh')}}" enctype="multipart/form-data">
                    {{form.csrf_token}}

        <div class="container">


            <strong> 1. 清理时间:</strong>
            {{form.date(class='form-control',placeholder='yyyy-mm-dd',type='date')}}
            {{render_errors(form.date)}}


            <strong>2. 我是</strong>

            {% for subfield in form.identity %}
            <div>

                {{subfield}}
                {{subfield.label}}

            </div>
            {% endfor %}
            {{render_errors(form.identity)}}



            <strong>3. 您对这次活动有多满意？</strong>
            
            {% for subfield in form.satisfactory %}
            <div>

                {{subfield}}
                {{subfield.label}}

            </div>
            {% endfor %}
            {{render_errors(form.satisfactory)}}

                    <strong>4. 您觉得这次活动组织性如何？</strong>
           
            {% for subfield in form.organization %}
            <div>

                {{subfield}}
                {{subfield.label}}

            </div>
            {% endfor %}
                        {{render_errors(form.organization)}}



            <strong>5. 你对这次活动有多少准备？</strong>
            
             {% for subfield in form.preparation %}
            <div class="radio">

                {{subfield}}
                {{subfield.label}}

            </div>
            {% endfor %}

            {{render_errors(form.preparation)}}


            <strong>6. 利益相关者参与度。</strong>
    
            <div>
                通过本次活动，我与他们的关系变得:
                <li><label>陶氏同事</label></li>
                {{form.colleague(class="browser-default custom-select")}}
            {{render_errors(form.colleague)}}


            </div>

             <div>
                <li><label>社区成员</label></li>
                {{form.community(class="browser-default custom-select")}}
                            {{render_errors(form.community)}}

            </div>


             <div>
                <li><label>家庭成员</label></li>
                {{form.family(class="browser-default custom-select")}}
            {{render_errors(form.family)}}

            </div>


<br>
            <strong>7. 附加意见</strong>
            {{form.text(class='form-control',rows=3)}}
            <br>


            {{form.submit(class="btn btn-primary",value='提交')}}
        </div>
    </form>
</div>

<footer class='text-center  py-4' style="color:#415364">
    @<u>Dow 2019</u>
</footer>
</body>


</html>